<ul>
  <% JSON.parse(routes).forEach(function(route){ %>
  <a href="#<%- route.path %>">
    <li class="route-item">
      <div class="">
        <span class="method <%- route.method.toLowerCase() %>"
          ><%- route.method.toUpperCase() %></span
        >
        <span class="path"><%- route.path %></span>
      </div>

      <span class="description"><%- route?.description %></span>
    </li>
  </a>
  <% }); %>
</ul>
