<ul>
  <% routes.forEach(function(route){ %>
  <a href="<%- route.path %>">
    <li class="route-item">
      <span class="method <%- route.method.toLowerCase() %>"
        ><%- route.method.toUpperCase() %></span
      >
      <span class="path"><%- route.path %></span>

      <span class=""><%- route?.description %></span>
 
    </li>
  </a>
  <% }); %>
</ul>

